img {
    opacity: 0.10;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }
  
  img:hover {
    opacity: 0.10;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

   
  /* Project for A6 for five pages! */